@font-face {
    font-family: NiveauGrotesk;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskLight.otf);
}

@font-face {
    font-family: NiveauGroteskBold;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskBold.otf);
}

html, body {
    height: 100%;
    overflow: hidden;
}
html {
  height: 100%;
}
body {
  height:100vh; 
}

.alerty{
    background: black;
    border-radius: 0px !important;
    color: white ;
    font-size: 1.8rem;
    font-family: NiveauGrotesk;
}
.alerty b{
    font-family: NiveauGroteskBold;
    letter-spacing: 1px;
}
.alerty strong{
    color : #ffff52;
    letter-spacing: 1px;
    padding: 0.4rem 0rem;
    border-bottom: #ffff52 solid 2px;

}
.close{
    opacity: 1;
    color: white
}
#background-landing{
    background-image: url(../../assets/images/svg/satellite.svg),url(../../assets/images/svg/rocket.svg),url(../../assets/images/svg/galaxy.svg), url(../../assets/images/svg/background.svg),linear-gradient(to bottom, #5896ec, #5896ec);
    background-repeat: no-repeat;
    background-position: 65% 85%, right 86%,90% 2%,center bottom, center 100%;
    background-size: auto,auto,auto,auto,100% 8%;
}

.landing {
    width: auto;
    height: auto;
    float: left;
}
.clicks {
    position: absolute;
    right: 10rem;
    font-family: NiveauGroteskBold, serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}
/*.clicks:hover {
    padding: 1rem;
    border: solid black;
}*/
.clicks1 {
    position: absolute;
    right: 10rem;
    font-family: NiveauGroteskBold, serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.landing157px {
    margin-left: 15rem;
}

.logo {
    width: 23rem;
    height: 6rem;
    object-fit: contain;
    margin-top: 1rem;
}

#we-are-comet {
    font-family: NiveauGroteskBold, serif;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 1.02;
    text-align: left;
    color: #000000;
    margin-top: 5rem;
    margin-left: 1rem;
}

.we-are-comet-separator {
    width: 2em;
    height: 0.5rem;
    object-fit: contain;
    border: solid 2px #ffff52;
}

#presentation {
    font-family: NiveauGrotesk, serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    margin-top: 1rem;
    margin-left: 1rem;
}

#callActions {
    margin-top: 3%;
}

#freelancesAction {
    float: left;
}

.astronaut {
    width: 36px;
    height: 47px;
    object-fit: contain;
}

#freelances-text {
    height: 43px;
    font-family: NiveauGroteskBold, serif;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: #070f17;
    margin: auto;
}

#freelancesActionButton {
    height: 49.7px;
    background-color: #ffff52;
    border-radius: 0 !important;
    opacity: 0.8
}
#freelancesActionButton:hover{
    opacity: 1
}
#freelancesActionButton:hover span img{
    margin-left: 15px;
}

#freelancesActionButton > span {
    width: 150px;
    height: 19px;
    font-family: NiveauGroteskBold, serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #141414;
    text-transform: uppercase;
}

.leftArrow {
    width: 14px;
    height: 11px;
    object-fit: contain;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

.center {
    display: table;
    margin: 0 auto;
}
.destination{
    padding:1rem 0rem;
}
#businessAction {
    float: left;
    margin-left: 69.8px;
}

.planet {
    width: 61px;
    height: 50px;
    object-fit: contain;
}

#business-text {
    height: 43px;
    font-family: NiveauGroteskbold, serif;
    font-size: 37px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #070f17;
    margin: auto;
}

#businessActionButton {
    height: 49.7px;
    background-color: #ffc793;
    margin-top: -0.3rem;
    border-radius: 0 !important;
    z-index: 1;
    opacity: 0.8
}
#businessActionButton:hover {
    opacity: 1
}
#businessActionButton:hover span img{
    margin-left: 15px;
}

#businessActionButton > span {
    width: 150px;
    height: 19px;
    font-family: NiveauGroteskBold, serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #141414;
    text-transform: uppercase;
}

.find-a-freelance {
    width: 228.5px;
    height: 19px;
    font-family: NiveauGrotesk, serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #141414;
}

#galaxy {
    background: url(../images/svg/galaxy.svg);
    width: 61.5rem;
    height: 29rem;
    position: absolute;
    top: 3rem;
}

#rocket {
    background: url('../images/svg/rocket.svg');
    width: 237px;
    height: 343px;
    object-fit: contain;
    position: absolute;
    top: -9.6rem;
    left: 84%;
}

#satellite {
    background: url(../images/svg/satellite.svg);
    width: 623px;
    height: 358px;
    position: absolute;
    top: -11.2rem;
    left: 34rem;
}

.background {
    position: absolute;
    left: 20rem;
}

.bottom {
    height: 6.1rem;
    /*background-color: #5896ec;*/
}

@media all and (max-width: 1024px) {
}