.landing {
    width: 1440px;
    height: 860px;
}

.logo {
    width: 231px;
    height: 59px;
    object-fit: contain;
}

.we-are {
    width: 671px;
    height: 186px;
    font-family: NiveauGrotesk, serif;
    font-size: 61px;
    font-weight: bold;
    line-height: 1.02;
    text-align: left;
    color: #000000;
}

.freelances {
    width: 171px;
    height: 43px;
    font-family: NiveauGrotesk, serif;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: #070f17;
}

.freelances .text-style-1 {
    letter-spacing: normal;
}

.find-a-freelance {
    width: 228.5px;
    height: 19px;
    font-family: NiveauGrotesk;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #141414;
}