
@media screen and (device-aspect-ratio: 40/71) {
	.clicks {
    	font-size:1.2rem;
	    
	}
	.logo{
		width: 15rem !important;
	}
	#mention{
		bottom: -3rem !important;
	}
}


@media screen and (max-width: 768px) {
	html, body {
    	height: 100%;
     	overflow: auto !important;

    }
  	b{
  		padding:0rem !important;
  	}
  	#us{
  		padding: 0rem !important
  	}
	#background-landing{
    	background-image: url(../../assets/images/svg/galaxy.svg), url(../../assets/images/svg/background.svg)!important;
		background-position: 103% -12%, bottom;
	}
	.clicks {
    	right: 2rem !important;
	    
	}
	.first-container{
		margin-top: 1.5rem !important;
	}
	.col-lg-6{
		padding: 0 !important;
	}
	.col-lg-8{
		padding: 0 !important;
	}
	.col-xs-12{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#we-are-comet{
		font-size: 3rem !important;
	    padding: 1.8rem 0rem !important;
	    margin-top: 20px;
    	margin-bottom: 0rem !important;
   	 	margin-left: 0rem !important;
	}
	#presentation{
		margin-top: 0rem !important;
    	margin-left: 0rem !important;
    	font-size: 1.5rem !important;
  		padding-top: 1rem !important;
  		padding-bottom: 1rem !important;
	}
	hr.hidden-lg{
		margin-top: 0.5rem !important;
		margin-bottom: 0.5rem !important
	}
	.destination{
		font-size: 2rem !important;
	}
	.center{
		text-align: left !important;
	}

}
@media screen and (min-width: 1600px) {
  .container {
        width: 1570px;
    }
  .main-left{
  position:relative !important;
  }
  .col-xxl-offset-1 {
        margin-left: 8.33333333%;
  }
}