@font-face {
    font-family: NiveauGroteskBold;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskBold.otf);
}

@font-face {
    font-family: NiveauGroteskLight;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskLight.otf);
}

@font-face {
    font-family: NiveauGrotesk;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskBlack.otf);
}

body {
    overflow-x: hidden;
    font-family: "NiveauGroteskBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #fed136;
    line-height: normal !important;
}
.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
    font-family: NiveauGroteskLight, serif !important;
    color: black;
    text-transform: uppercase;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 1rem;
}
.logo {
    top: 15px;
    position: absolute;
}

.desc {
    font-family: NiveauGroteskLight, serif;
}

.landing {
    height: 100%;
    background-color: #5896ec;
}


.speech {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.freelance-card {
    background-image: url(../images/freelance-card.png);
    width: 481px;
    height: 281px;
    left: 150px;
    top: 25px;
    position: absolute;
}

.back-freelance-card {
    background-image: url(../images/svg/back-freelance-card.svg);
    width: 301px;
    height: 319px;
}

.thirdSpeech {
    font-family: NiveauGrotesk, serif;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.padding {
    padding-top: 7rem;
}

.forced-margin {
    margin-top: 8rem !important;
}

.array {
    background-color: #ffffff;
    border: solid 1.8px #000000;
    border-bottom: none;
}

.disabled-array {
    background-color: transparent;
    border: solid 1.8px #3c3c3c;
}

.array > .img-array {
    padding: 15px;
    float: left;
}

.disabled-array > .img-array {
    padding: 25px;
    float: left;
}

.array > .text {
    font-family: NiveauGroteskLight, serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #141414;
    font-weight: normal;
}

#freelancesActionButton {
    height: 49.7px;
    background-color: #ffff52;
    border-radius: 0 !important;
}

.array .title {
    font-weight: bold;
    padding-top: 2rem;
    font-family: NiveauGrotesk, serif;
}

.disabled-array > .text {
    font-family: NiveauGroteskLight, serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #a1a1a1;
    font-weight: normal;
}

.disabled-array > .title {
    font-weight: bold;
    padding-top: 2rem;
    font-family: NiveauGrotesk, serif;
    text-transform: uppercase;
    color: #a1a1a1;
}

#feedback {
    background-color: #ff9274;
    padding: inherit;
}

.feedback > .text > .author {
    font-family: NiveauGrotesk, serif;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding: 5px;
}

.feedback > .text > .info {
    font-family: NiveauGrotesk, serif;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

.feedback > .text {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #ffffff;
    padding: 40px;
}

.astronaut {
    float: left;
}

.btn-primary.active,
.btn-primary:active,
.btn-xl.active,
.btn-xl:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-primary,
.btn-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family NiveauGroteskBold, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.text-muted {
    color: #777
}

.text-primary,
a {
    color: #fed136
}

p {
    font-size: 18px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a,
a.active,
a:active,
a:focus,
a:hover {
    outline: 0
}

a.active,
a:active,
a:focus,
a:hover {
    color: #fec503
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #eee;
    color: #000;
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #fed136;
    border-color: #fed136
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}

.btn-xl {
    color: #000;
    background-color: #ffc793;
    border-color: #ffc793;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 0 !important;
    float: left;
    margin-top: 4rem;
}

.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-xl.disabled,
.btn-xl.disabled.active,
.btn-xl.disabled:active,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled],
.btn-xl[disabled].active,
.btn-xl[disabled]:active,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl,
fieldset[disabled] .btn-xl.active,
fieldset[disabled] .btn-xl:active,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
    background-color: #fed136;
    border-color: #fed136
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff
}

.navbar-custom {
    /*background-color: #222;*/
    border-color: transparent
}

.navbar-custom .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover {
    color: #fec503
}

.navbar-custom .nav li a,
.navbar-custom .navbar-toggle {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    text-transform: uppercase
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-size: 12px
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover {
    background-color: #fed136
}

.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    color: #fed136;
    outline: 0
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}

.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #fec503
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: white;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: none
    }

    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px
    }

    .navbar-custom.affix {
        background-color: #222;
        padding: 10px 0
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em
    }
}
@media screen and (max-width: 768px){
    header{
    background-image: url(../images/svg/background-about.svg), url(../images/svg/moonwalk_Hihi.svg) !important;
    background-repeat: repeat, no-repeat !important;
    background-size: cover,contain !important;
    background-position: bottom !important;
    }
    .navbar{
        margin-bottom: 0rem !important;
    }
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
    .intro-text{
        padding-top: 1rem !important;
        padding-bottom: 5rem !important;
    }
    .intro-heading{
        font-size: 2.5rem !important;
        padding: 1.8rem 0rem !important;
        margin-bottom: 0rem !important;
        margin-left: 0rem !important;
        text-transform: inherit;
    }
    .intro-heading-speech{
        margin-top: 0rem !important;
        margin-left: 0rem !important;
        margin-bottom: 3rem !important;
        font-size: 1.5rem !important;
        padding-top: 1rem !important;
        padding-bottom: 3rem !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important
    }

    .pads{
        padding:1rem 0rem !important;
    }
    #button-cta{
        margin: 2rem 0rem !important;
    }
    .btn-xl{
        padding: 1rem 2rem !important;
        font-size: 1.5rem !important;
        margin-top: 0rem !important;
    }
    p {
       font-size: 90% !important;

    }
    #salut{
        padding: 3rem 0rem !important;
    }
    
    .feedback{
        padding-top: 0rem !important;
    }
    #foot-links{
        margin-bottom: 2rem !important;
    }
    #foot-links ul{
        display: flex !important;
        flex-direction: column !important;
    }
    #foot-social {
        display: flex !important;
    }
}

header {
    text-align: center;
    color: #000;
    background-image: url(../images/svg/moonwalk_Hihi.svg),url(../images/svg/background-about.svg);
    background-repeat:  no-repeat,repeat;
    background-position:  90% bottom,top;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 26rem;

}

header .intro-text .intro-heading {
    font-family: NiveauGroteskBold, serif;
    font-size: 43px;
    font-weight: bold;
    text-align: left;
    color: #000000;
     text-transform: inherit;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 5px solid #fed136;
    border-radius: initial !important;
    font-weight: bold;
}

header .intro-text .intro-heading-speech {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.section-subheading-speech {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    margin-top: 12rem;
}

.ourTeam {
    font-family: NiveauGrotesk, serif;
    font-size: 43px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-transform: none;
}

.media
{
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
    display: table;
}

.dp
{
    transition: all 0.2s ease-in-out;
}
.dp:hover
{
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /*-webkit-font-smoothing:antialiased;*/
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: middle !important;
}

.media > a > img {
    width: 150px;
    height: 150px;
}

.media-body > h3 {
    font-family: NiveauGroteskBold, serif;
}

.media-body > h4 {
    font-family: NiveauGroteskLight, serif;
    text-transform: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

#joinUs {
    height: 49.7px;
    background-color: #ffff52;
    border-radius: 0 !important;
    margin-top: 2.5em;
}

#joinUs > span {
    width: 150px;
    height: 19px;
    font-family: NiveauGroteskBold, serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #141414;
    text-transform: uppercase;
}

.last-speech {
    font-family: NiveauGroteskBold, serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.howitswork-img {
    padding: 15px;
}

.howitswork-back {
    position: absolute;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 150px;
    }

    header .intro-text .intro-heading {
        font-family: NiveauGroteskBold, serif;
        font-size: 43px;
        font-weight: bold;
        text-align: left;
        color: #000000;
    }

}

section {
    padding: 25px 0
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
    text-transform: inherit;
    text-align: left;
}

.advantages-text {
    font-family: NiveauGroteskBold, serif;
    font-size: 43px;
    font-weight: bold;
    color: #5896eb;
}

section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
    font-family: NiveauGroteskLight, serif;
}

@media (min-width: 768px) {
    section {
        padding: 50px 0
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none
}

footer span.copyright,
footer ul.quicklinks {
    font-family: NiveauGroteskLight, serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}

@media (min-width: 498px) and (max-width: 600px) {
    .galaxy {
        display: none;
    }

    .payment-section {
        display: none;
    }

}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }

    .galaxy {
        position: absolute;
    }

    .payment-section {
        background-image: url(../images/svg/payment-section.svg);
        width: 396px;
        height: 287px;
        float: right;
    }

    .progress-section {
        background-image: url(../images/svg/progress-section.svg);
        width: 357px;
        height: 301px;
    }
}

@media (max-width: 767px) {
    .logo {
        width: 150px;
        height: auto;
        position: absolute;
        top: 5px;
    }

    .galaxy {
        position: absolute;
    }

    .payment-section {
        background-image: url(../images/svg/payment-section.svg);
        width: 396px;
        height: 287px;
        float: right;
        top: 10rem;
        position: absolute;
        left: 45rem;
    }

    .progress-section {
        background-image: url(../images/svg/progress-section.svg);
        width: 357px;
        height: 301px;
        float: right;
        top: 10rem;
        position: absolute;
        left: 45rem;
    }

}

@media (min-width: 1200px) {
    .galaxy {
        position: absolute;
    }

    .planet {
        margin-left: 12rem;
    }

    .payment-section {
        background-image: url(../images/svg/payment-section.svg);
        margin-top: -5rem;
        position: inherit;
    }

    .progress-section {
        background-image: url(../images/svg/progress-section.svg);
        margin-top: -5rem;
        position: inherit;
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

aside.clients img {
    margin: 50px auto
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}

section#contact::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact .text-danger {
    color: #e74c3c
}

footer {
    padding: 25px 0;
    text-align: center
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: uppercase;
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136
}

.btn.active,
.btn:active,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

::-moz-selection {
    text-shadow: none;
    background: #fed136
}

::selection {
    text-shadow: none;
    background: #fed136
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

.matching-text {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-image: url(../images/svg/planets/connector.svg);
    left: 40px;
    margin-left: -1.5px;
    margin-top: -30px;
    height: 90%;
}
.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}
.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}
.timeline>li:after {
    clear: both
}
.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}
.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline>li .timeline-image {
    left: 0;
    /* margin-left: 0; */
    /* width: 80px; */
    /* height: 80px; */
    /* position: absolute; */
    z-index: 100;
    /* background-color: #fed136; */
    /* color: #fff; */
    /* border-radius: 100%; */
    /* border: 7px solid #f1f1f1; */
    text-align: center;
}
.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline>li:last-child {
    margin-bottom: 0
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}
.timeline .timeline-heading h4.subheading {
    text-transform: none
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: left
    }
    .timeline>li .timeline-image {
        /*width: 100px;*/
        /*height: 100px;*/
        left: 50%;
        /*margin-left: -50px*/
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}
@media (min-width: 992px) {
    .timeline>li .timeline-panel,
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }
}
@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px
    }
}

.timeline > .timeline-panel > .timeline-heading > h4 {
    font-family: NiveauGrotesk, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.timeline-body > p {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.leftArrow {
    margin-top: 5px;
    margin-left: 40px;
    position: absolute;
}

.comet {
    position: absolute;
    top: -35px;
    left: 63px;
}