@font-face {
    font-family: NiveauGroteskBold;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskBold.otf);
}

@font-face {
    font-family: NiveauGroteskLight;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskLight.otf);
}

@font-face {
    font-family: NiveauGrotesk;
    src: url(../fonts/NiveauGrotesk/NiveauGroteskBlack.otf);
}

body {
    overflow-x: hidden;
    font-family: "NiveauGroteskBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #fed136;
    line-height: normal !important;
}

.logo {
    top: 15px;
    position: absolute;
}
.img-profile{
    max-height: 40rem;
}
.landing {
    height: 100%;
    background-color: #5896ec;
}

.speech {
    font-family: NiveauGroteskLight, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

#client-logos{
    display:flex; justify-content:space-around;margin-top:0rem;margin-bottom: 5rem;
}
#client-logos span{
  display:flex; align-items:center;
}
#client-logos span img{
  max-width:15rem
}
@media screen and (max-width: 768px) {
    #client-logos{
    flex-flow: row wrap;margin-top:3rem !important
    }
    #client-logos span{
    flex-basis: 33% !important;
    margin:1rem 0rem !important
    }
    #client-logos span img{
    max-width:80px  !important;
    }
}
.back-freelance-card{
    padding-top:1.5rem;
}
#cards{
    background: url(../images/freelance-back.png) no-repeat left; 
    -webkit-background-size: contain; /* pour anciens Chrome et Safari */
    background-size: contain;
    height:28rem;
}
#card-first{
    position:absolute;
    z-index:99
}
#card-second{

    position:absolute;
    
    z-index:89;
}
#card-third{
    position:absolute;
    z-index:79;
}
#card-fourth{
    position:absolute;
    z-index:69;
}
#card-fifth{
    position:absolute;
    z-index:59;
}
#card-sixth{
    position:absolute;
    z-index:49;
}

.padding {
    padding-top: 4rem;
}

.forced-margin {
    margin-top: 8rem !important;
}

.indicators {
    left: 95%;
    transform: rotate(90deg);
    bottom: 21rem;
    position: absolute;
}

.array {
    background-color: #ffffff;
    border: solid 1.8px #000000;
    border-bottom: none;
    display:flex; justify-content:space-between; align-items:center;
    padding: 1rem;
}
.flex-array{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    vertical-align: middle
}

.space-left-2-md{
    margin-left:2rem
}
.disabled-array {
    background-color: transparent;
    border: solid 1.8px #3c3c3c;
    display:flex; justify-content:space-between; align-items:center;
    padding: 1rem;
}

.img-array {
    width:5rem;
}
.hidden-md-down .array-arrow{
    height: 1.7rem;
}

.space-left-2-md > .text {
    font-family: NiveauGroteskLight, serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #141414;
    font-weight: normal;
}

.space-left-2-md .title {
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-family: NiveauGrotesk, serif;
}

.disabled-array > .text {
    font-family: NiveauGroteskLight, serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #a1a1a1;
    font-weight: normal;
}

.disabled-array > .title {
    font-weight: bold;
    padding-top: 2rem;
    font-family: NiveauGrotesk, serif;
    text-transform: uppercase;
    color: #a1a1a1;
}
.text-title{
    margin-left:2rem;
}
.text-group{
    margin-bottom: 3rem;
    display: flex;
    vertical-align: middle;
}
#feedback {
    background-color: #ff9274;
    padding: inherit;
}

.feedback {
    background-color: #ff9274;
    padding: 3rem 0rem;
}

.feedback > .text .author {
    font-family: NiveauGrotesk, serif;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

.feedback > .text .info {
    font-family: NiveauGrotesk, serif;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
.feedback > .text {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: justify;
    color: #ffffff;
    padding: 40px;
}
.join-yellow {
    height: 49.7px;
    background-color: transparent;
    border-bottom: 10px solid yellow;
    margin-top: 4.7rem;
    border-radius: 0 !important;
    z-index: 1;
    width: initial;
}

.join-green {
    height: 49.7px;
    background-color: transparent;
    border-bottom: 10px solid #8cdfad;
    margin-top: 4.7rem;
    border-radius: 0 !important;
    z-index: 1;
    width: initial;
}

.join-red {
    height: 49.7px;
    background-color: transparent;
    border-bottom: 10px solid #ff9274;
    margin-top: 4.7rem;
    border-radius: 0 !important;
    z-index: 1;
    width: initial;
}


.join > span {
    width: 150px;
    height: 19px;
    font-family: NiveauGroteskBold, serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #141414;
    text-transform: uppercase;
}




.btn-primary.active,
.btn-primary:active,
.btn-xl.active,
.btn-xl:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-primary,
.btn-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.text-muted {
    color: #777
}

.text-primary,
a {
    color: #fed136
}

p {
    font-size: 14px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a,
a.active,
a:active,
a:focus,
a:hover {
    outline: 0
}

a.active,
a:active,
a:focus,
a:hover {
    color: #fec503
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #eee;
    color: #000;
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #fed136;
    border-color: #fed136
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}

.btn-xl {
    color: #000;
    background-color: #ffff52;
    border-color: #ffff52;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 0 !important;
    float: left;
    margin-top: 4rem;
}

.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-xl.disabled,
.btn-xl.disabled.active,
.btn-xl.disabled:active,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled],
.btn-xl[disabled].active,
.btn-xl[disabled]:active,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl,
fieldset[disabled] .btn-xl.active,
fieldset[disabled] .btn-xl:active,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
    background-color: #fed136;
    border-color: #fed136
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff
}

.navbar-custom {
    /*background-color: #222;*/
    border-color: transparent
}

.navbar-custom .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover {
    color: #fec503
}

.navbar-custom .nav li a,
.navbar-custom .navbar-toggle {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    text-transform: uppercase
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-size: 12px
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover {
    background-color: #fed136
}

.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    color: #fed136;
    outline: 0
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}

.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #fec503
}
@media screen and (device-aspect-ratio: 40/71) {
    header > #background-header{
        background: url(../images/svg/galaxy-freelances.svg);
        background-repeat: no-repeat;
        background-position: 58% 5% !important;
    }

}

@media screen and (max-width: 768px){
    .navbar{
        margin-bottom: 0rem !important;
    }
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
    header > #background-header{
        background: url(../images/svg/galaxy-freelances.svg);
        background-repeat: no-repeat;
        background-position: 79% -5%;
    }
    .intro-text{
        padding-top: 3rem !important;
        padding-bottom: 5rem !important;
    }
    .intro-heading{
        font-size: 2.5rem !important;
        padding: 1.8rem 0rem !important;
        margin-bottom: 0rem !important;
        margin-left: 0rem !important;
    }
    .intro-heading-speech{
        margin-top: 0rem !important;
        margin-left: 0rem !important;
        font-size: 1.5rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    #button-cta{
        margin: 2rem 0rem !important;
    }
    .btn-xl{
        padding: 1rem 2rem !important;
        font-size: 1.5rem !important;
        margin-top: 0rem !important;
    }
    #cards{
        margin-bottom: 2rem !important;

    }
    .array-section{
        margin-bottom: 3rem !important;
    }
    .space-left-2-md .text{
        font-size: 14px !important;
    }
    .feedback{
        padding-top: 0rem !important;
    }
    .feedback .text{
        padding: 2rem !important;
    }
    .feedback .text .text-group img{
        width: 3rem !important;
    }
    .feedback .text .text-group .text-title .author{
        font-size: 3rem !important;
    }
    .text-group{
        font-size: 80% important;
    }
    #foot-links{
        margin-bottom: 2rem !important;
    }
    #foot-links ul{
        display: flex !important;
        flex-direction: column !important;
    }
    #foot-social {
        display: flex !important;
    }
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: white;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: none
    }

    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px
    }

    .navbar-custom.affix {
        background-color: #222;
        padding: 10px 0
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em
    }
}

header {
    text-align: center;
    color: #000;
    background-color: #5896ec;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

header .intro-text .intro-heading {
    font-family: NiveauGroteskBold, serif;
    font-size: 43px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

header .intro-text .intro-heading-speech {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    margin-top: 4rem;
}

.section-subheading-speech {
    font-family: NiveauGroteskLight, serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    margin-top: 12rem;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 17rem;
    }

    header .intro-text .intro-heading {
        font-family: NiveauGroteskBold, serif;
        font-size: 43px;
        font-weight: bold;
        text-align: left;
        color: #000000;
    }

}

section {
    padding: 25px 0
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
    text-transform: inherit;
    text-align: left;
}


.advantages-text {
    font-family: NiveauGroteskBold, serif;
    font-size: 43px;
    font-weight: bold;
    color: #5896eb;
    padding-bottom:3rem;
}

section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
    font-family: NiveauGroteskLight, serif;
}

@media (min-width: 768px) {
    section {
        padding: 50px 0
    }
    section#advantages{
        padding: 4rem 0rem 4rem !important;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 5px solid #fed136;
    border-radius: initial !important;
    font-weight: bold;
}

footer span.copyright,
footer ul.quicklinks {
    font-family: NiveauGroteskLight, serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}

@media (min-width: 498px) and (max-width: 600px) {
    .galaxy {
        display: none;
    }

    .payment-section {
        display: none;
    }

}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }

    .galaxy {
        background-image: url(../images/svg/galaxy-freelances.svg);
        width: 586px;
        height: 293px;
        float: right;
        top: 15rem;
        position: absolute;
        left: 55rem;
    }

    .payment-section {
        background-image: url(../images/svg/payment-section.svg);
        width: 396px;
        height: 287px;
    }

    .progress-section {
        background-image: url(../images/svg/progress-section.svg);
        width: 357px;
        height: 301px;
    }
}

@media (max-width: 767px) {
    .logo {
        width: 150px;
        height: auto;
        position: absolute;
        top: 5px;
    }

    /*.galaxy {
        background-image: url(../images/svg/galaxy-freelances.svg);
        width: 586px;
        height: 293px;
        float: right;
        top: 10rem;
        position: absolute;
        left: 45rem;
    }*/

    /*.payment-section {
        background-image: url(../images/svg/payment-section.svg);
        width: 396px;
        height: 287px;
        float: right;
        top: 10rem;
        position: absolute;
        left: 45rem;
    }*/

    /*.progress-section {
        background-image: url(../images/svg/progress-section.svg);
        width: 357px;
        height: 301px;
        float: right;
        top: 10rem;
        position: absolute;
        left: 45rem;
    }*/

}

@media (min-width: 1200px) {
    .galaxy {
        background-image: url(../images/svg/galaxy-freelances.svg);
        width: 586px;
        height: 293px;
        float: right;
        margin-top: 16rem;
        top: 0;
        position: inherit;
        left: 0;
    }

    .payment-section {
        background-image: url(../images/svg/payment-section.svg);
        position: inherit;
    }

    .progress-section {
        background-image: url(../images/svg/progress-section.svg);
        position: inherit;
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

aside.clients img {
    margin: 50px auto
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}

section#contact::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact .text-danger {
    color: #e74c3c
}

footer {
    padding: 25px 0;
    text-align: center
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: uppercase;
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136
}

.btn.active,
.btn:active,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

::-moz-selection {
    text-shadow: none;
    background: #fed136
}

::selection {
    text-shadow: none;
    background: #fed136
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}